@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --nav-font: 1.25rem;
    --regular-font-size:1.125rem;
    --blue: #2E6DB5;
    --yellow: #F5D125;
    --white: #fff;
}

body {
   margin: 0;
   padding: 0;
   background-color: #FFFBF2;
   font-family: "Poppins", system-ui;
}

.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--yellow);
    
}

.hero-text {
    background-color: var(--yellow);
    height: 100%;
    margin-left: 120px;
    margin-right: 120px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-text-text {
    width: 50%;
    z-index: 1;
}

.hero-text-img{
    position: relative;
}

.hero-text-img img, .white-round-bg {
    width: 100%;
    height: 70vh;
    object-fit: contain;
}

.hero-text-img img{
    position: relative;
}

.white-round-bg {
    background-color: #fff;
    filter: blur(100px);
    border-radius: 50%;
    position: absolute;
}

@media screen and (max-width: 1200px) {
    .hero-text {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hero-text-img{
        width: 40%;
    }
}


@media screen and (max-width: 768px) {
    .navbar{
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        background-color: var(--yellow);
    }
    .hero-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .hero-text-text{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 4rem;
    }

    .hero-text-img{
        width: 40%;
        height: 20rem;
    }
    
    .hero-text-text img {
        width: 100%;
        margin: auto;
    }

    .hero-text-img img, .white-round-bg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .explore-btn {
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    .hero-text-img{
        width: 50%;
        height: 20rem;
    }
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    z-index: 99;
    transition: background-color 0.4s ease-in-out;
}

.navbar.scrolled {
    background-color: var(--yellow);
}

.logo {
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.logo img{
    width: 5rem;
}


@media screen and (max-width:992px) {
    .logo{
        margin-left: 1rem;
    }
}

.links {
    margin: 0 150px;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */
}

.links a {
    color: var(--blue);
    text-decoration: none;
    font-size: var(--nav-font);
}

.nav-link .active {
    font-weight: bold;
}

.links a:hover{
    text-decoration: underline;
    color: var(--blue);
}

.collapse .navbar-nav .nav-link .active {
    color: var(--blue);
}


/*--------------------------------------------Pokemon Card */
.card-row{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (max-width:1200px) {
    .card-row {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .card-row {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .card-row{
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media screen and (max-width: 576px) {
    .card-row {
       
    }
} */

.pokemon-card {
    /* width: 23rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24rem;
    background-color: #fff;
    border-radius: 1rem;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    padding: 1.5rem;
}

.pokemon-card h1 {
    margin: 0;
}

.pokemon {
    width: 100%;
    height: 73%;
    /* background-color: var(--blue); */
}

.pokemon-name {
    width: 100%;
    text-transform: capitalize;
    margin: 0;
    white-space: nowrap; /* Prevent the name from wrapping to another line */
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.pokemon-name.long-name {
    font-size: 1.1rem; /* Smaller font size for long names */
}
  
.card-header{
    display: flex;
    justify-content: space-between; 
}

.pokemon-types{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: .5rem;
}

.type {
    width: 2rem;
    height: 2rem;
    background-color: #eee;
    border-radius: 50%;
    padding: .1rem;
}

.type-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.type-name{
    margin: 2rem 120px;
}

@media screen and (max-width: 1200px) {
    .type-name{
        margin: 2rem 1rem;
    }
}

.dropdown button, .dropdown-menu{
    width: 100%;
}


.dropdown-menu .dropdown-item.active{
    background-color: var(--yellow);
    color: #000;
}


/* -------------------------------------PAGINATION */

.pagination{
    margin:0;
}

.pagination-result {
    margin: 3rem;
}

.page-item{
    width: 3rem;
    height: 3rem;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid var(--yellow); */
}

.page-item.active button.page-link,
.page-item.active {
    background-color: var(--yellow);
}

button.page-link{
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    color: #000;
    padding: .5rem;
}

button.page-link:hover{
    background-color:rgba(245, 209, 37, .3);
}


.circle{
    width: 160px; /* 50% of the parent's width */
    height: 160px; /* 50% of the parent's height */
    border-radius: 100%;
    position: absolute; /* Allows for positioning within the parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be perfectly centered */
    z-index: -1;
}

.circle-type {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.pokemon-image {
    position: relative;
    width:90%;
    height: 90%;
    object-fit: contain;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
}

.modal-pokemon-image {
    position: relative;
    width:90%;
    height: 30rem;
    object-fit: contain;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
}


.pokemon-details{
    width: 100%;
    padding: .5rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    background-color: var(--yellow);
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
}



/* ----------------------------Modal */

.custom-modal.modal-dialog {
    max-width: 80%;
    height: 50%;
  }

.custom-modal .modal-header{
    border: 0;
    padding: 1.7rem 2.5rem 0;
}

.custom-modal .modal-header .btn-close {
    --bs-btn-close-color: #EB2123;  /* Update the icon color */
    --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cpath fill='%23EB2123' d='M15 17h1v-1h1v-1h-1v-1h-1v-1h-1v-1h-1v-2h1V9h1V8h1V7h1V6h-1V5h-1v1h-1v1h-1v1h-1v1h-2V8H9V7H8V6H7V5H6v1H5v1h1v1h1v1h1v1h1v2H8v1H7v1H6v1H5v1h1v1h1v-1h1v-1h1v-1h1v-1h2v1h1v1h1v1h1m2 3h-3v-1h-1v-1h-1v-1h-2v1H9v1H8v1H5v-1H4v-1H3v-3h1v-1h1v-1h1v-2H5V9H4V8H3V5h1V4h1V3h3v1h1v1h1v1h2V5h1V4h1V3h3v1h1v1h1v3h-1v1h-1v1h-1v2h1v1h1v1h1v3h-1v1h-1Z'/%3E%3C/svg%3E");
    width: 2rem;  /* Set width to 2rem */
    height: 2rem; /* Set height to 2rem */
    background-size: contain; /* Ensure the background scales to fit */
    background-repeat: no-repeat; /* Prevent repetition */
}

.offcanvas .offcanvas-header .btn-close{
    --bs-btn-close-color: #EB2123;  /* Update the icon color */
    --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 22'%3E%3Cpath fill='%23EB2123' d='M15 17h1v-1h1v-1h-1v-1h-1v-1h-1v-1h-1v-2h1V9h1V8h1V7h1V6h-1V5h-1v1h-1v1h-1v1h-1v1h-2V8H9V7H8V6H7V5H6v1H5v1h1v1h1v1h1v1h1v2H8v1H7v1H6v1H5v1h1v1h1v-1h1v-1h1v-1h1v-1h2v1h1v1h1v1h1m2 3h-3v-1h-1v-1h-1v-1h-2v1H9v1H8v1H5v-1H4v-1H3v-3h1v-1h1v-1h1v-2H5V9H4V8H3V5h1V4h1V3h3v1h1v1h1v1h2V5h1V4h1V3h3v1h1v1h1v3h-1v1h-1v1h-1v2h1v1h1v1h1v3h-1v1h-1Z'/%3E%3C/svg%3E");
    width: 2rem;  /* Set width to 2rem */
    height: 2rem; /* Set height to 2rem */
    background-size: contain; /* Ensure the background scales to fit */
    background-repeat: no-repeat; /* Prevent repetition */
}


.custom-modal .modal-content {
    height: 100%;
    background-color: #FFFBF2;
}

.custom-modal-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.custom-modal-body .col img{
    z-index: 1;
}
  

  .modal-circle{
    width: 500px; /* 50% of the parent's width */
    height: 500px; /* 50% of the parent's height */
    border-radius: 100%;
    position: absolute; /* Allows for positioning within the parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be perfectly centered */
}

.pokeball {
    width: 490px; /* 50% of the parent's width */
    height: 490px; /* 50% of the parent's height */
    border-radius: 100%;
    position: absolute; /* Allows for positioning within the parent */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be perfectly centered */
    fill: #FFF8D8;
    opacity: .4;
    z-index: 1;
}

.modal-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#col-2 {
    margin-right: 1.5rem;
}
@media screen and (max-width: 1200px) {
    .custom-modal.modal-dialog {
        max-width: 95%;
        height: auto;
      }

    .modal-circle{
        width: 400px;
        height: 400px;
      }

      .pokeball{
        width: 390px;
      }

      .custom-modal-body .modal-pokemon-image{
        height: 25rem;
      }
}


@media screen and (max-width: 992px) {
    .custom-modal.modal-dialog {
        max-width: 95%;
        height: auto;
      }

      .custom-modal-body {
        flex-direction: column;
      }

      .modal-circle{
        width: 320px;
        height: 320px;
      }

      .pokeball{
        width: 310px;
      }

      .custom-modal .modal-header{
        padding: 1.7rem 1rem 0;
    }

      .custom-modal-body .modal-pokemon-image{
        height: 20rem;
        justify-content: center;
        transform: translate(-50%, 0%);
      }

      #col-2{
        margin: 0;
      }
}



.accordion {
    font-family: 'Poppins', sans-serif;
}

.accordion-item {
    margin-bottom: .3rem;
}

.accordion-button.collapsed{
    background-color:  rgba(245, 209, 37, 0.2);
    color:var(--yellow);
    font-weight: 500;
     
  }

  .accordion-button:not(.collapsed) {
    background-color: var(--yellow) !important;
    color: var(--white) !important;
    font-weight: bold !important;
    border-radius: .5rem .5rem 0 0;
  }

/* ----------------------------------Pokemon Overview */
.pokemon-overview {
    line-height: 1;
}

.pokemon-abilities {
    list-style: none;
    padding-left: 0;
}

.pokemon-stats{
    list-style: none;
    padding-left: 0;
}

.pokemon-wri{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}


.pokemon-wri-list{
    list-style: none;
    padding: 0;
    text-transform: capitalize;
    text-align: center;
}


/* ---------------------------------------NAV NAV-TABS */

.nav  {
    margin: 1rem 120px;
    /* margin-left: 120px;
    margin-right: 120px; */
    display: flex;
    justify-content: space-between;
}

  .nav-tabs .nav-link {
    padding: 1px; 
  }
 
@media screen and (max-width:1200px) {
    .nav {
        margin: 1rem;
    }
}

/* --------------------------------------- SCROLL INSIDE ACCORDION */
.accordion-body {
    max-height: 13rem;
    overflow-y: auto;
}

.scrollable-content {
    scrollbar-color: var(--yellow) #f1f1f1; /* Handle color and track color */
    scrollbar-width: thin; 
  }


  @media screen and (max-width: 992px){
    .accordion-body{
        max-height: none;
    }
  }

  .offcanvas{
    height:25%;
    border-radius: 0 0 0 1rem;
  }

.offcanvas .links{
    padding-left: 2rem;
    line-height: 2;
}

.offcanvas .links .nav-link{
    padding: 0;
}

.offcanvas .links .nav-link .active,
.offcanvas-header{
    color: var(--blue);
}